ul.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.body-pad-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}