.body-pad-header {
    padding-bottom: 0;
}

.restaurant-blog-feed li.blog-card {
    min-width: 100px;
    min-height: 80px;
    width: 300px;
    height: 150px;
    margin: 1em 1em;
}
.restaurant-blog-feed li.blog-card .blog-card-header img {
    height: 100%;
    width: 100%;
}